<mat-card>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<form [formGroup]="form" (submit)="OnSavePost()" *ngIf="!isLoading">
  <mat-form-field class="example-full-width">
  <input matInput 
  type="text"  
  name="title" 
  formControlName="title"
  placeholder="Phrase Source"/>
  <mat-error *ngIf="form.get('title').invalid">Please enter the phrase source.</mat-error>
  </mat-form-field>

<div>
<button mat-strocked-button type="button" (click)="filePicker.click()">Pick Image</button>
<input type="file" #filePicker (change)="onImagePicked($event)" />
</div>

<div class="imageprev" 
*ngIf="imagePrev !== '' && imagePrev && form.get('image').valid">
  <img [src]="imagePrev" [alt]="form.value.title">
</div>

  <mat-form-field class="example-full-width">
    <textarea 
    matInput 
    rows="4" 
    name="content" 
      formControlName="content"
    placeholder="The Phrase">
    </textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter the phrase.</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary"
  type="submit">Save Phrase</button>
  </form>
</mat-card>
